body {
  background-color: white;
}

header, header h1 {
  background-color: white;
  color: black;
  font-size: 2em;
  margin-top: -1.2em;
}

#cd-timeline {
  margin-top: 2em;
}

.navbar {
  margin-bottom: 0px;
}

.header {
  height: 4.7em;
  margin-top: 1.2em;
  margin-bottom: 2em;
  text-align: center;
  font-size: 3em;
  padding: 0 1em;
  color: black;
}

.header-sub-title {
  margin-top: .5em;
  font-size: 1.2em;
}

.cd-timeline-content {
  background-color: #F0F0F0;
  padding: 0px;
  box-shadow: 0 2px 5px #d7e4ed;
  border-radius: 4px;
}

.cd-timeline-content .cd-read-more {
  background-color: #008cba;
  border-color: #0079a1;
  padding-top: -5px;
  float: right;
}

.cd-timeline-content .cd-date {
  font-size: 1.5em
}

.cd-picture h2, .cd-movie h2, .cd-location h2 {
  text-align: center;
  font-size: 2em;
  color:white;
  margin-top: 30%;
}

.panel {
  margin: 0px;
  border-width: 1px;
  border-radius: 1px;
}

.panel-group {
  margin: 0px;
}

.panel-info {
  border-color: transparent;
}

.panel-heading {
  padding: 10px;
}

.panel-title {
  font-size: 1.7em;
}

.panel-body {
  font-size: 1.33em;
}

.multiples-right {
  float: right;
  margin-right: 43%;
  font-size: 2em;
}






