body {
  background-color: white;
}

header, header h1 {
  background-color: white;
  color: black;
  font-size: 2em;
  margin-top: -1.2em;
}

#cd-timeline {
  margin-top: 2em;
}

.navbar {
  margin-bottom: 0px;
}

.header {
  height: 4.7em;
  margin-top: 1.2em;
  margin-bottom: 2em;
  text-align: center;
  font-size: 3em;
  padding: 0 1em;
  color: black;
}

.header-sub-title {
  margin-top: .5em;
  font-size: 1.2em;
}

.panel {
  margin: 0px;
  border-width: 1px;
  border-radius: 1px;
}

.panel-title {
  font-size: 1.7em;
}

.panel-title a:hover {
  text-decoration: none;
  color: rgb(61, 61, 56);
}

.panel-body {
  font-size: 1.33em;
}

.panel-info {
  border-color: transparent;
}
.panel-group {
  margin: 0px;
}

.panel-heading {
  padding: 10px;
}
.cd-timeline-content {
  background-color: #F0F0F0;
  padding: 0px;
  box-shadow: 0 2px 5px #d7e4ed;
  border-radius: 4px;
}

.cd-timeline-content .cd-read-more {
  background-color: #008cba;
  border-color: #0079a1;
}

.cd-timeline-content .cd-read-more {
  padding-top: -5px;
  float: right;
}

.cd-timeline-img .cd-picture {
  text-align: center;
}
